extends layout

block headContent
	title Peers

	link(rel="stylesheet", href="/css/dataTables.bootstrap4.min.css", integrity="sha384-EkHEUZ6lErauT712zSr0DZ2uuCmi3DoQj6ecNdHQXpMpFNGAQ48WjfXCE5n20W+R")

	link(rel="stylesheet", href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css", integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==", crossorigin="")

	script(src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js", integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==", crossorigin="")

	style.
		.versions-hidden-rows, .services-hidden-rows {
			display: none;
		}

block content
	h1(class="page-title") Peers

	ul(class='nav nav-tabs tabs')
		li(class="nav-item tabs-item")
			a(data-toggle="tab", href="#tab-summary", class="active", role="tab") Summary
		li(class="nav-item tabs-item")
			a(data-toggle="tab", href="#tab-json", role="tab") JSON

	div(class="tab-content")
		div(id="tab-summary", class="tab-pane active", role="tabpanel")

			div(class="card mb-4 shadow-sm card-menu")
				div(class="card-top")
					h3(class="card-top-title") Summary
					hr(class="hr")
				div(class="card-bottom")
					div(class="row")
						div(class="col-md-6")
							span(class="card-top-title") Top Versions
							table(class="table table-responsive-sm")
								thead
									tr
										th
										th(class="data-header") Version
										th(class="data-header") Count
								tbody
									each item, index in peerSummary.versionSummary
										tr(class=(index >= 5 ? "versions-hidden-rows" : false))
											td(class="data-cell font-weight-bold") #{index + 1}

											td(class="data-cell") #{item[0]}
											td(class="data-cell") #{item[1].toLocaleString()}

						div(class="col-md-6")
							span(class="card-top-title") Top Service Flags
							table(class="table table-responsive-sm")
								thead
									tr
										th
										th(class="data-header") Services
										th(class="data-header") Count
								tbody
									each item, index in peerSummary.servicesSummary
										tr(class=(index >= 5 ? "services-hidden-rows" : false))
											td(class="data-cell font-weight-bold") #{index + 1}

											td(class="data-cell") #{item[0]}
											td(class="data-cell") #{item[1].toLocaleString()}

			div(class="card mb-4 shadow-sm")
				div(class="card-top")
					h3(class="card-top-title") #{peerSummary.getpeerinfo.length} 
						if (peerSummary.getpeerinfo.length == 1)
							span Peer
						else
							span Peers
					hr(class="hr")

				div(class="card-bottom")
					table(class="table table-responsive-sm data-table mt-4")
						thead
							tr
								th
								th(class="data-header") Version
								th(class="data-header") Address
								th(class="data-header") Services
								th(class="data-header") Last Send / Receive

						tbody
							each item, index in peerSummary.getpeerinfo
								- var lastSendAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(item.lastsend) * 1000)))).format().replace("milliseconds", "ms");
								- var lastRecvAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(item.lastrecv) * 1000)))).format().replace("milliseconds", "ms");

								tr
									th(class="data-cell") #{index + 1}

									td(class="data-cell") #{item.subver}
									td(class="data-cell") #{item.addr}
									td(class="data-cell") #{item.services}
									td(class="data-cell") #{lastSendAgo} / #{lastRecvAgo}
			


		div(id="tab-json", class="tab-pane", role="tabpanel")
			div(class="card mb-3 shadow-sm card-menu")
				div(class="card-top")
					each item, index in peerSummary.getpeerinfo
						div(class="border-bottom pb-2")
							a(href="javascript:void(0)" onclick=("javascript:var peer = document.getElementById('peerinfo_" + index + "'); peer.style.display = peer.style.display === 'none' ? '' : 'none';"))
								img(src="/img/icons/plus.svg")

							span()  #{item.addr}

						div(style="display: none;", id=("peerinfo_" + index), class="p-3")
							h6 Peer Details
							pre
								code(class="json bg-light") #{JSON.stringify(item, null, 4)}

							if (peerIpSummary && peerIpSummary.detailsByIp && peerIpSummary.detailsByIp[item.addr.substring(0, item.addr.lastIndexOf(":"))])
								hr

								h6 IP Geo-Location Info
								pre
									code(class="json bg-light") #{JSON.stringify(peerIpSummary.detailsByIp[item.addr.substring(0, item.addr.lastIndexOf(":"))], null, 4)}

	
block endOfBody
	script(src="/js/jquery.dataTables.min.js", integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp")
	script(src="/js/dataTables.bootstrap4.min.js", integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX")

	script.
		$(document).ready(function() {
			$(".data-table").DataTable();
		});
